@font-face {
    font-family: 'WisdomScript';
    src: url('../fonts/WisdomScriptAJ.otf') format('otf');
    src: url('../fonts/Wisdom Script AJ.woff') format('woff');
    /* font-style: normal; 
    font-weight: normal; */
}

@font-face {
    font-family: 'Sacramento-Regular';
    src: url('../fonts/Sacramento-Regular.ttf') format('ttf');
    src: url('../fonts/Sacramento-Regular.woff') format('woff');
    font-style: normal; 
}    
    
@font-face {
    font-family: 'LibreBaskerville-Bold';
    src: url('../fonts/LibreBaskerville-Bold.otf') format('otf');
    src: url('../fonts/baskerville-bold.woff') format('woff');
    font-style: normal; 
    font-weight: 700;
}    

@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('../fonts/LibreBaskerville-Regular.otf') format('otf');
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('ttf');
}

body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    display: block; 
}

header .main_container {
    padding: 0px 30px;
}

.general {
    width: 100%;
}

.main_container {
    width: 1140px;
    padding: 150px 30px;
    position: relative;
    margin: 0 auto;
}

.white {
    background-color: white;
}

.dark_grey {
    background-color: #3f4049;
}

.grey {
    background-color: #cccccc;
}

.light_grey {
    background-color: #f7f7f7;
}

.backgound_picture {
    height: 464px;
    background-image: url(../images/bg_image.png);
    background-size: cover;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "WisdomScript";
    font-size: 35px;
    color: #616161;
}

.menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #272727;
}

.menu > ul {
    display: inline-block;
    list-style-type: none;
}

.menu > ul > li {
    padding: 0 12px;
}

.banner {
    height: 475px;
}

.banner > p {
    font-family: 'LibreBaskerville-Regular';
    font-size: 60px;
    color: white;
    text-align: center;
}

.text_pop_16_white {
    position: absolute;
    left: 522px;
    top: 13px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 16px; 
    color: white;
}

.group_icons_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    margin-top: 82px;
    text-align: center;
}

.about {
    height: 700px;
    position: relative;
}

.about_1 {
    height: 700px;
    width: 555px;
    border: solid 10px #a3a3a3;
    background: linear-gradient(to bottom, #cccccc, #d2bcb9);
}

.about_2 {
    width: 652px;
    height: 547px;
    background-color: white;
    position: absolute;
    bottom: 76.5px;
    right: 0;
}

.transparent_number_01 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f6f6f6;
    font-size: 273px;
    position: absolute;
    left: -5px;
    top: -90px;
    margin-top: 0px;
}

.transparent_number {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 273px;
    position: absolute;
    top: -88px;
    left: 35%;
    margin-block-end: 0;
    margin-block-start: 0;
}

.about_us_text {
    width: 448px;
    z-index: 1;
    position: absolute;
}

.text_above_number {
    z-index: 1;
    position: absolute;
    left: 31%;
    top: 150px;
}

.shadow {
    box-shadow: 0px 0px 20px 2px #e2e2e2;
}

.block_title_left {
    font-family: 'LibreBaskerville-Bold';
    font-size: 50px;
    color: #313131;
    margin-block-start: auto;
    margin-block-end: auto;
}

.block_under_title_left {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #616161;
}

.block_title {
    font-family: 'LibreBaskerville-Bold';
    font-size: 50px;
    color: #313131;
    margin-block-start: auto;
    margin-block-end: auto;
    text-align: center;
}

.block_under_title {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #616161;
    text-align: center;
}

.color_blocks {
    display: flex;
    align-items: flex-end;
    height: 450px;
}

.colorful_1 {
    background-color: #fc5f45;
    flex: 1;
    height: 3px;
}

.colorful_2 {
    background-color: #38c695;
    flex: 1;
    height: 3px;
}

.colorful_3 {
    background-color: #b27cf5;
    flex: 1;
    height: 3px;
}

.colorful_4 {
    background-color: #feb960;
    flex: 1;
    height: 3px;
}

.focus {
    height: 350px;
}

.focus_blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 175px;
    justify-items: center;
}

.focus_blocks > div {
    height: 350px;
    width: 263px;
    background-color: white;
    box-sizing: border-box;
    padding: 60px 33px;
    box-shadow: 0px 0px 20px 2px #e2e2e2;
}

.focus_block_1 {
    border-bottom: solid 3px #fc5f45;
}

.focus_block_2 {
    border-bottom: solid 3px #38c695;
}

.focus_block_3 {
    border-bottom: solid 3px #b27cf5;
}

.focus_block_4 {
    border-bottom: solid 3px #feb960;
}

.focus_block_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #313131;
}

.text_style_pop_15 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    margin-block-start: 0;
    margin-block-end: 0;
}

.white_text {
    color: white;
}

.explore {
    height: 200px;
    background-color: #3f4049;
    text-align: center;
}

.text_style_pop_30 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400; 
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.portfolio {
    height: 1084px;
}

.portfolio_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 18px; 
    margin-top: 70px;
}

.image_1_complex {
    position: relative;
    border: solid 5px white;
}

.image_1_plus {
    position: absolute;
    top: 84px; 
    left: 147px;
}

.image_1_bottom {
    position: absolute;
    top: 227px; 
    left: 0px;
    background-color: white;
    height: 66px;
    width: 100%;
}

.text_pop_18 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    color: #313131;
    text-align: center;
}

.color_block_2 {
    display: flex;
    align-items: flex-start;
}

.team {
    height: 826px;
}

.team_grid_blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center; 
    justify-items: center;
    margin-top: 70px;
}

.team_grid_blocks > div {
    height: 347px; 
    width: 263px;
    background-color: white;
}

.grid_block_1 {
    border-bottom: solid 3px #fc5f45;
}

.grid_1_gradient {
    height: 260px;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #cbcbcb;
}

.title_1_color {
    color: #fc5f45;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

.grid_block_2 {
    border-bottom: solid 3px #38c695;
}

.grid_2_gradient {
    height: 260px;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #cbcbcb;
}

.title_2_color {
    color: #38c695;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

.grid_block_3 {
    border-bottom: solid 3px #b27cf5;
}

.grid_3_gradient {
    height: 260px;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #cbcbcb;
}

.title_3_color {
    color: #b27cf5;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

.grid_block_4 {
    border-bottom: solid 3px #feb960;
}

.grid_4_gradient {
    height: 260px;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #cbcbcb;
}

.title_4_color {
    color: #feb960;
    margin-block-start: 10px;
    margin-block-end: 5px;
}

.grid_block_title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500; 
}

.grid_block_under_title {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400; 
    color: #616161;
    margin-block-start: auto;
}

.team_bennet_img {
    width: 100%;
    height: 100%;
}

.team_bennet_flex {
    display: flex;
    position: absolute;
    top: 66%;
    left: 0px;
}

.team_bennet_text {
    margin: auto 50px auto 140px;
    flex: 4;
}

.text_style_pop_20 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #272727;
}

.social_icons {
    flex: 1.6;
    border-left: solid 2px #efefef;
    height: 151px;
    margin: 75px 0px 0px;
}

.bennet_margin_social {
   margin: auto 5px; 
}

.share_icon_style {
    flex: 0.8; 
    text-align: center;
    margin: 95px 0px 0px;
    height: 151px;
}

.icon_text {
    display: flex;
    height: 25%;
}

.icon_text > img {
    width: 15px;
    height: 15px; 
    margin: auto 0px;  
} 

.numbers_flex {
    display: flex;
    text-align: center;
}

.numbers_flex_1 {
    flex: 1;
}

.numbers_flex_2 {
    flex: 1;
}

.numbers_flex_3 {
    flex: 1;
}

.numbers_flex_4 {
    flex: 1;
}

.numbers_dot_style {
    width: 15px;
    height: 16px;
    margin-top: 35px;
}

.steps {
    height: 1426px;
    position: relative;
}

.steps_gradient_blocks {
    margin-top: 127px;
}

.steps_gradient_blocks > div {
    width: 556px;
    height: 300px;
    background-color: #cbcbcb;
    margin: 0 auto;
}

.steps_gradient_block_01 {
    background: linear-gradient(to bottom, #cccccc, #d2bcb9);
}

.steps_gradient_block_02 {
    background: linear-gradient(to bottom, #cccccc, #b7cbc4);
}

.steps_gradient_block_03 {
    background: linear-gradient(to bottom, #cccccc, #c8c0d1);
}

.steps_gradient_block_04 {
    background: linear-gradient(to bottom, #cccccc, #d2c9bc);
}

.abs_blocks > div {
    height: 298px; 
    width: 458px; 
    background-color: white;
    position: absolute;
    z-index: 1;
}

.abs_01 {
    top: 12%;
    left: 0px;
    border-bottom: solid 3px #fc5f45;
    display: flex;
}

.abs_02 {
    top: 33%;
    right: 0px;
    border-bottom: solid 3px #38c695;
    display: flex;
}

.abs_03 {
    top: 54%;
    left: 0px;
    border-bottom: solid 3px #b27cf5;
    display: flex;
}

.abs_04 {
    bottom: 4%;
    right: 0px;
    border-bottom: solid 3px #feb960;
    display: flex;
}

.abs_text_title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #272727;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.pricing {
    height: 751px;
}

.pricing_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    text-align: center; 
    justify-items: center;
    margin-top: 70px;
}

.pricing_grid > div {
    background-color: white;
    height: 572px;
    width: 360px;
    text-align: center;
}

.pricing_grid_01 {
    border-top: solid 3px #38c695;
}
 
.pricing_grid_02 {
    border-top: solid 3px #fc5f45;
}

.pricing_grid_03 {
    border-top: solid 3px #b27cf5;
}

.text_margin_40 {
    margin: 40px auto;
}

.testimonials {
    height: 574px;
}

.testimonials_flex {
    display: flex;
    position: relative;
    margin-top: 77px;
}

.testimonials_flex_01 {
    height: 399px;
    width: 384px;
    border: solid 10px #a3a3a3;
    background: linear-gradient(to bottom, #cccccc, #d2bcb9);
}

.testimonials_flex_02 {
    height: 309px;
    width: 755px;
    background-image: url(../images/testimonials_img_quotes.png);
    background-size: cover;
    border-bottom: solid 3px #fc5f45;
    margin: auto 0;
}

.testimonials_navi {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.testimonials_text_style_02 {
    font-family: 'Sacramento-Regular';
    font-weight: 400;
    font-size: 40px;
    color: #272727;
    margin-block-end: 0;
    margin-block-start: 0;
}

.testimonials_text_style_margin {
    margin: 40px 74px 36px 55px;
}

.testimonials_text_style_03 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #272727;
}

.testimonials_text_style_04 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fc5f45;
}

.why {
    height: 749px;
}

.why_grid_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 70px;
    justify-items: center;
    margin-top: 70px;
}

.why_grid_flex_inside {
    display: flex;
}

.why_grid_flex_inside > img {
    width: 49px;
    height: 49px;
    margin-right: 14px;
}

.why_button_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
} 

.why_button_flex > a {
    width: 180px;
    height: 50px;
    margin: auto 22px;
}

.why_bottom_text_style {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #272727;
    margin-block-end: 0;
    margin-block-start: 0;
}

.blog {
    height: 851px;
}

.blog_grids {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 23px;
}

.blog_grids > div {
    background-color: white;
}

.grid_box_01 {
    grid-row: 1 / 4;
    border-bottom: solid 3px #fc5f45;
}

.grid_box_02 {
    border-bottom: solid 3px #38c695;
}

.grid_box_03 {
    border-bottom: solid 3px #b27cf5;
}

.grid_box_04 {
    border-bottom: solid 3px #feb960;
}

.grey_gradient {
    background: linear-gradient(to bottom, #cbcbcb, #7c7c7c);
    width: 555px;
    height: 443px;
}

.blog_grid_title {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
}

.blog_color_01 {
    color: #fc5f45;
}

.blog_color_02 {
    color: #38c695;
}

.blog_color_03 {
    color: #b27cf5;
}

.blog_color_04 {
    color: #feb960;
}

.blog_grid_december {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.blog_title_flex {
    display: flex;
    align-items: baseline;
}

.blog_first_title {
    height: 100%;
    align-items: flex-end;
    margin-left: 50px;
}

.blog_text_margins_01 {
    margin: 32px 55px 0px 50px;
}

.blog_text_margins_02 {
    margin: 30px 55px 40px 50px;
}

.blog_text_margins {
    position: relative;
    top: 22px;
    left: 47px;
}

.blog_goog_marg {
    margin-block-end: 0;
    margin-block-start: 0;
}

.subscribe {
    height: 124px;
}

.subscribe_title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400; 
    color: #272727;
    margin-bottom: 50px;
    text-align: center;
}

.subscribe_form {
    display: flex;
    justify-content: center;
}

.subscribe_input {
    background-color: #f7f7f7;
    border: solid 2px #efefef;
    color: #f7f7f7;
    height: 44px;
    width: 300px;
    border-radius: 80px;
    font: 400 16px 'Poppins', sans-serif;
    text-indent: 21px;
}

.subscribe_button {
    background-image: url(../images/subscribe_button.png);
    background-size: cover;
    height: 50px;
    width: 180px;
    border: none;
    background-color: white;
    position: relative;
    left: -24px;
}

.get {
    height: 976px;
}

.get_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-column-gap: 30px;
    grid-row-gap: 24px;
    margin: 70px 195px 0px;
}

.get_input {
    border: none;
    background-color: white;
    height: 50px;
    font: 400 16px 'Poppins', sans-serif;
    text-align: center;
}

.get_last_input {
    grid-column: 1 / 3;
    height: 200px;
}

.get_button {
    background-image: url(../images/get_button.png);
    width: 190px;
    height: 50px;
    margin-top: 51px;
    margin-left: 42%;
    border: none;
    background-color: #cccccc;
}

footer {
    height: 222px;
    margin-top: 149px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer_grid_01 {
    border-bottom: solid 3px #fc5f45;
}

.footer_grid_02 {
    border-bottom: solid 3px #38c695;
    margin-top: 64px;
}

.footer_grid_03 {
    border-bottom: solid 3px #b27cf5;
    margin-top: 64px;
}

.footer_grid_04 {
    border-bottom: solid 3px #feb960;
    margin-top: 64px;
}

.footer_logo {
    margin: 93px 0px 80px 60px;
}

.footer_icons {
    display: flex;
    align-items: center;
}

.footer_icons > img {
    margin: 0 5px;
}
